# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:031210@localhost:5432/esensi"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:7500" #Base URL of your app
POSTMARK_API_KEY=""
POSTMARK_FROM="info@esensi.online"
PRODUCT_URL="https://esensi.online"
PRODUCT_NAME="Esensi"
PRODUCT_DESCRIPTION="Esensi is a powerful and flexible platform that allows you to create and manage your own online store with ease. With a wide range of features and tools, Esensi makes it easy to sell your products and services online, whether you're a small business or a large enterprise."
SUPPORT_URL="https://esensi.online/support"
SUPPORT_EMAIL="support@esensi.online"
HELP_URL="https://esensi.online/docs"
LIVE_CHAT_URL="https://esensi.online/chat"
COMPANY_NAME="PT. Tolak Miskin"
COMPANY_ADDRESS="Surabaya, Indonesia"
EMAIL_SMTP_SERVER="smtp-broadcasts.postmarkapp.com"
EMAIL_SERVER="smtp-broadcasts.postmarkapp.com"
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_HEADER="X-PM-Message-Stream: broadcast"
EMAIL_VERIFICATION_CALLBACK_URL="http://localhost:7500/email-verified"
EMAIL_SENDER_NAME="Esensi"
EMAIL_SENDER_EMAIL="info@esensi.online"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""